NODE_ENV=developement
MONGODB_URL="mongodb+srv://................replace it with mongodb url"

GEMINI_API_KEY=your_actual_gemini_api_key_here

JWT_SECRET="9cdd22235e9b6fa6df34c...........6c822ef3556419df3e13"
JWT_EXPIRES_IN=7d